.form-control {
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
}
.input {
  padding: 0.5rem;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 0.25rem;
}
.button {
  padding: 1rem;
  background-color: black;
  cursor: pointer;
  color: white;
}

.button:hover {
  background-color: #333;
}
