.flashcard {
  /* min-height: 30rem;
  max-height: 30rem; */
  height: var(--maxHeight);
  min-height: var(--maxHeight);
}

.flashcard-container {
  width: 80%;
  max-width: 45rem;
  height: var(--maxHeight);
}

.label {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.card-container {
  max-height: var(--maxHeight);
}
.shuffle-button {
  background-color: rgb(38, 34, 98);
}

.buttons {
  box-shadow: 0 -0.8125rem 0.4375rem #ffffffc2;
}

.buttons button {
  background-color: rgb(38, 34, 98);
}

.continue-button:disabled,
.next-button:disabled,
.prev-button:disabled {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.25);
}

.progress-bar {
  width: 100%;
  margin: 1rem;
}

.progress {
  width: 0;
}

.correct-choice {
  border: 2px solid rgb(0, 82, 118);
}

.incorrect-choice {
  border: 2px solid black;
}

.feedback {
  border: 2px solid gray;
  background-color: rgb(207, 207, 207);
}

.feedback-icon {
  color: rgb(0, 82, 118);
}
